#main{
    background-color:#55A472;
    width: 500px;
    height: 600px;
    margin-left: 450px;
    border: 2px solid black;
    border-radius: 5px;
}
#name{
    width: 500px;
    height: 60px;
    border-bottom: 2px solid black;
}
#name h1{

    padding-left: 150px;
    margin: 0;
}
#name h3{
    padding-left: 192px;
    margin: 0;

}
#address{
    width: 500px;
    height: 143px;
    border-bottom: 2px solid black;
    
}
#price_deatile{
    width: 500px;
    height: 180px;
    border-bottom: 2px solid black;
}
#total_price{
    width: 500px;
    height: 76px;
    border-bottom: 2px solid black;
}
#total{
    width: 500px;
    height: 10px;
    /* border-bottom: 2px solid black; */
}

dl{
    display: grid;
    grid-template-columns: 3fr 9fr;
    text-align: left;
    margin-left: 30px;
}
dt{
    color: black;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
}
dd{
    color: black;
    padding: 5px;
    margin-bottom: 5px;
}